* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Song Myung', serif;
  font-size: 62.5%;
  height: 1440px;
}
  
p {
  margin: 0;
  padding-left: .5rem;
}

.grid-wrapper {
  background-color: #ECF2F6;
  display: grid;
  grid-template-columns:  repeat(12, 1fr);
  grid-auto-rows: minmax(15rem, auto);
  grid-template-areas: 
    "box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
    "box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
    "box1 box1 box3 box3 box3 box3 box3 box4 box4 box4 box4 box4"
    "box1 box1 box3 box3 box3 box3 box3 box4 box4 box4 box4 box4"
    "box1 box1 box3 box3 box3 box3 box3 box4 box4 box4 box4 box4"
    "box1 box1 box5 box5 box5 box5 box5 box5 box5 box6 box6 box6"
    "box1 box1 box5 box5 box5 box5 box5 box5 box5 box6 box6 box6"
    "box1 box1 box5 box5 box5 box5 box5 box5 box5 box6 box6 box6"
    "box1 box1 box5 box5 box5 box5 box5 box5 box5 box6 box6 box6"
    "box1 box1 box5 box5 box5 box5 box5 box5 box5 box6 box6 box6"
    "box1 box1 box5 box5 box5 box5 box5 box5 box5 box6 box6 box6"
    "box1 box1 box5 box5 box5 box5 box5 box5 box5 box6 box6 box6";
}

.box1 {
  background-color: #364051;
  grid-area: box1;
  margin-right: 1.5rem;
}
.box1 p {
  padding-right: .5rem;
  align-items: center;
  padding-left: 6.2rem;
}

.box2 {
  background-color: #FFFFFF;
  grid-area: box2;
  margin-left: -1.5rem;
}

.box3 {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  grid-area: box3;
}

.box4 {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  grid-area: box4;
  margin: 0 auto;
}

.box5 {
  background-color: #EDF2F6;
  color: #f7f4e9;
  font-size: 1.7rem;
  grid-area: box5;
}

.box6 {
  background-color: #EDF2F6;
  grid-area: box6;
}
           /*Side Nav-bar*/

.profile-picture {
  margin: 0 auto;
  background-size: 14.5rem 14.5rem;
  background-position: -2.9rem -.1rem;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-image: url(images/nav-bar/perry-Mervar.jpg);
}

.nav-profile {
  border-bottom: 1px solid black;
  color: #A0ABBE;
  display: flex;
  flex-direction: column;
  height: 14rem;
  padding: 3.8rem 0 0 0;
}

.nav-profile p {
  margin:0 auto;
  font-size: 1.5rem;
  padding: .5rem;
}

.nav-main {
  border-bottom: 1px solid black;
  height: 31rem;
}

.nav-bar--header {
  align-items: center;
  color: #A0ABBE;
  display: flex;
  font-size: 1.2rem;
  height: 4rem;
}

.nav-admin {
  border-bottom: 1px solid black;
  height: 33rem;
}

.nav-categories {
  height: 23rem;
}

.side-nav {
  align-items: center;
  background-position: 2.9rem .9rem;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  color: #A0ABBE;
  display: flex;
  font-size: 1.6rem;
  height: 4rem;
  width: 100%;
}

.side-nav p{
  margin-top: .5rem 0 0 0;
}

.side-nav:hover {
  color: #F7F4EA;
  background-color: #2F3848;
  cursor: pointer;
}
        /*Side nav-bar icons*/

.home {
  background-image: url(images/nav-bar/icon-house-grey.png);
}

.home:hover {
  background-image: url(images/nav-bar/icon-house-eggshell.png);
}

.jobs {
  background-image: url(images/nav-bar/icon-business-grey.png);
}

.jobs:hover {
  background-image: url(images/nav-bar/icon-business-eggshell.png);
}

.resumes {
  background-image: url(images/nav-bar/icon-index-grey.png);
}

.resumes:hover {
  background-image: url(images/nav-bar/icon-index-eggshell.png);
}

.tasks {
  background-image: url(images/nav-bar/icon-clipboard-grey.png);
}

.tasks:hover {
  background-image: url(images/nav-bar/icon-clipboard-eggshell.png);
}

.calander {
  background-image: url(images/nav-bar/icon-event-grey.png);
}

.calander:hover {
  background-image: url(images/nav-bar/icon-event-egg.png);
}

.user {
  background-image: url(images/nav-bar/icon-group-grey.png);
}

.user:hover {
  background-image: url(images/nav-bar/icon-group-egg.png);
}

.locations {
  background-image: url(images/nav-bar/icon-marker-grey.png);
}

.locations:hover {
  background-image: url(images/nav-bar/icon-marker-egg.png);
}

.workflows {
  background-image: url(images/nav-bar/icon-flow-chart-grey.png);
}

.workflows:hover {
  background-image: url(images/nav-bar/icon-flow-chart-egg.png);
}

.job-boards {
  background-image: url(images/nav-bar/icon-read-grey.png);
}

.job-boards:hover {
  background-image: url(images/nav-bar/icon-read-egg.png);
}

.social {
  background-image: url(images/nav-bar/icon-user-groups-grey.png);
}

.social:hover {
  background-image: url(images/nav-bar/icon-user-groups-egg.png);
}

.administrative {
  background-image: url(images/nav-bar/icon-rectangle-yellow-copy.png);
}

.design {
  background-image: url(images/nav-bar/icon-rectangle-blue.png);
}

.executive {
  background-image: url(images/nav-bar/icon-rectangle-red.png);
}

.human-resources {
  background-image: url(images/nav-bar/icon-rectangle-green.png);
}

.header-link {
  height: 4rem;
  width: 11rem;
}

.job-description {
  background-color: #FFFFFF;
  height: 93rem;
  margin: 0 auto;
  width: 88%;
}

.upper-header {
  display: flex;
  height: 8rem;
}

.lower-header {
  background-color: #FFFFFF;
  font-size: 1.8rem;
  height: 16rem;
}

            /*search bar and icons*/

.search-input {
  background-image: url(images/icon-search.png);
  background-position: 1.5rem 1.3rem;
  background-repeat: no-repeat;
  border: 1px solid #E7E7E7;
  font-size: 2rem;
  height: 98%;
  padding-left: 7rem;
  width: calc(100% - 400px);
}

.icon {
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border: 1px solid #E7E7E7;
  height: 97%;
  width: 10rem;
}

.hamburger {
  border-left: 1px solid #FFFFFF;
  background-size: 5.5rem 5.5rem;
  background-image: url(images/icon-menu-grey-left.png);
  background-position: 2rem 1.1rem;
}

.hamburger:hover {
  border-left: 1px solid #26A3F6;
  background-image: url(images/icon-menu-left-egg.png);
}

.icon-profile {
  background-size: 3rem 3rem;
  background-position: 3.2rem 2.4rem;
  background-image: url(images/icon-customer-grey.png);
}

.icon-profile:hover {
  background-image: url(images/icon-customer-white.png);
}

.icon-calender {
  background-size: 2.0rem 2.0rem;
  background-position: 3.6rem  3rem;
  background-image: url(images/icon-planner-grey.png);
}

.icon-calender:hover {
  background-image: url(images/icon-planner-white.png);
}

.icon-dots {
  background-image: url(images/icon-squared-menu.png);
  background-position: 3.6rem 2.8rem;
  background-size: 2.3rem 2.3rem;
}

.icon-dots:hover {
  background-image: url(images/icon-squared-menu-egg.png);
}

.icon:hover {
  background-color: #26A3F6;
  cursor: pointer;
}

.upper-lower-header {
  display: flex;
  justify-content: space-between;
}

.customer-service {
  color: #64646B;
  height: 19rem;
  padding-left: 6.2rem;
}

.customer-service img{
  display: block;
  margin-bottom: -2.4rem;
}
.customer-service p {
  padding-left: 2.7rem;
}

.customer-service a {
  color: #26A3F6;
}

    /*Top Buttons*/

.button-container {
  display: flex;
  height: 16rem;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5.3rem;
}

.button-style {
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid #E7E7E7;
  height: 5rem;
  margin-right: 1.3rem;
  width: 5rem;
}

.button-style:hover {
  border: 2px solid #26A3F6;
  cursor: pointer;
}

.open-button {
  height: 4.6rem;
  background-image: url(images/icon-sphere-green.png);
  background-position: .9rem 1.2rem;
  background-size: 1.7rem 1.7rem;
  border-radius: 2.8rem;
  padding-left: 2.5rem;
  padding-top: .1rem;
  width: 10.2rem;
}

.ribbon-button {
  background-position: .8rem .9rem;  
  background-image: url(images/icon-bookmark.png);
}

.edit-button {
  background-position: .8rem .8rem;  
  background-size: 3rem 3rem;
  background-image: url(images/icon-pencil.png);
}

.delete-button {
  background-position: 1rem 1.1rem;
  background-image: url(images/icon-trash.png);
}
      /*Summary area*/

.header-link {
  margin-right: 3.8rem;
  height: 4rem;
  width: 11rem;
}

.header-link a:hover {
  color: #64646B;
  font-weight: bold;
}

.header-link:hover {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid #26A3F6;
}

.summary-container {
  background-color: #FFFFFF;
  display: flex;
}

.summary-container a {
  color: #929AA1;
  text-decoration: none;
}

.summary {
  width: 9.1rem;
}

.applicants {
  width: 10.4rem;
}

.job-board {
 padding-left: .7rem;
}

.interviews {
  padding-left: .2rem;
}

.activity {
  padding-left: .3rem;
  width: 8.5rem;
}

.broadcast {
  padding-left: .5rem;
}

.notifications {
  width: 13.8rem;
  padding-left: .3rem;
}

.description-header {
  align-items: center;
  background-color: #707E94;
  display: flex;
  height: 8rem;
}

.description-header p {
  padding: 0 3rem 0 4.7rem;
}

.description {
  margin: 0;
}

.description-edit {
  background-color: #7E8B9F;
  background-image: url(images/icon-pencil-eggshell.png);
  background-position: 1.3rem .9rem;
  background-repeat: no-repeat;
  background-size: 2.0rem;
  height: 4.0rem;
  padding-left: 1rem;
  width: 9.2rem;
}

.description-edit:hover {
  background-color: #38404B;
  cursor: pointer;
}

.description-edit p {
  padding-left: 3.3rem;
  padding-top: 1rem;
}

        /*Graphs*/

.spinner-section {
  margin: 0 auto;

}

.spinners {
  margin-top: 5rem;
  display: inline-flex;
  height: 20rem;
  width: 60rem;
}

.graph-buttons {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 2.8rem;
  border: 1px solid #A0ABBE;
  display: flex;
  font-size: 1.5rem;
  height: 4rem;
  justify-content: center;
  margin: 3rem auto;
  width: 211px;
}

.graph-buttons:hover {
  border: 2px solid #26A3F6;
  cursor: pointer;
}

.bar-graph-button {
  margin: 2.4rem auto;
}

.bar-graph {
  height: 56%;
}

.bar-graph img {
  padding: 2.9rem 0 0 8rem;
  width: 57rem;
}

.line-under-spinners {
  border: 1px solid #D2DAE2;
  margin: 8rem 0 0 2.3rem;
  width: calc(180% - 200px);
}

.graph-button-container {
  padding-left: 5.8rem;
}

.graph-collapse-button {
  outline: none;
  border: none;
  border-radius: 2.8rem;
  height: 5.4rem;
  margin: -2.7rem 0 0 54.3rem;
  width: 5.4rem;
  background-position: -6.5px -7px;
  background-repeat: no-repeat;
  background-image: url(images/icon-chevron-up.png);
}

.graph-collapse-button:hover {
  border: 2px solid #26A3F6;
  cursor: pointer;
}

.line-under-bargraph {
  border: 1px solid #D2DAE2;
  width: calc(100% - 53px);
  margin: 6rem 0 0 1.3rem;
}

      /*Job description area*/

h3 {
  font-size: 1.6rem;
}

.job {
  align-items: center;
  border-bottom: 2px solid #EDF2F6;
  color: #707E94;
  display: flex;
  height: 9.4rem;
  margin:0 3.5rem 0 3.5rem;
}

.job p {
  padding-left: 5.5rem;
}

.job-info {
  overflow: hidden;
  min-height: 16rem;
  padding: 1rem 0;
}

.location p {
  padding-left: 11.4rem;
}

.employment-type p {
  padding-left: 2.7rem;
}

.experience p {
  padding-left: 8.2rem;
}

.status p {
  padding-left: 11.8rem;
}

.job-info p {
  padding-left: 7.6rem;
}

.hiring-lead p {
  padding-left: 7.6rem;
}

.salary p {
  padding-left: 11.7rem;
}

.salary {
  border: none;
}

.lorem {
  width: 10rem;
}

.social-container {
  font-weight: 700;
  justify-content: space-around;
}

.widgets-container {
  justify-content: space-around;
}

.social-side {
  background-repeat: no-repeat;
  border-radius: .5rem;
  height: 4.7rem;
  margin-bottom: 1.5rem;
  padding: .2rem 0 0 5rem;
  width: 30rem;
}

.social-links:link,
.social-links:visited {
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.7rem;
  height: 3.7rem;
  padding: 1.1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  width: 83%;
}

.faceBook {
  background-color: #4B70BF;
  background-image: url(images/icons8-facebook-48.png);
  background-position: 1.1rem .6rem;
  background-size: 3.5rem 3.5rem;
}

.twitter {
  background-size: 3rem 3rem;
  background-position: 2rem .7rem;
  background-image: url(images/icons8-twitter-48.png);
  background-color: #1DABEC;
}

.linkedin {
  background-size: 2rem 2rem;
  background-position: 2.5rem 1.3rem;
  background-image: url(images/icons8-linkedin-80.png);
  background-color: #1583BC;
}

.widgets {
  background-size: 1.9rem 1.9rem;
  background-position: 0px 2.2rem;
  background-repeat: no-repeat;
  padding-top: .7rem;
  color: #596374;
  font-size: 1.2rem;
  width: 30rem; 
  height: 18rem;
  border-bottom: 1px solid #3B999E;
}

.widgets h2 {
  padding-left: 2.5rem;
}

.link-to-job { 
  background-image: url(images/icon-earth.png);
}

.link-to-job-input {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 0 .5rem .5rem 0;
  color: #596374;
  display: flex;
  font-size: 1.4rem;
  height: 4.8rem;
  margin-top: 2.1rem;
  padding-left: 1.9rem;
}

.link-to-job-button {
  background-color: #4DBAC0;
  border-radius: 0 .5rem .5rem 0;
  color: #F7F4EA;
  height: 4.8rem;
  justify-content: flex-end;
  width: 6rem;
}

.link-to-job-button:hover {
  background-color: #3B999E;
}

.link-to-widgets {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 0 5px 5px 0;
  color: #596374;
  display: flex;
  font-size: 1.4rem;
  height: 4.8rem;
  margin-top: 2.1rem;
  padding-left: 3rem;
}

.button-widget {
  background-image: url(images/icon-web.png);
}

.link-to-widgets-button {
  border-radius: 0 5px 5px 0;
  background-color: #4DBAC0;
  color: #F7F4EA;
  height: 4.8rem;
  width: 6rem;
  justify-content: flex-end;
}

.link-to-widgets-button:hover {
  background-color: #3B999E;
}

.upload-resume {
  background-image: url(images/icon-paper-plane.png);
}


.upload-resume-input {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 0 5px 5px 0;
  color: #596374;
  display: flex;
  font-size: 1.4rem;
  height: 4.8rem;
  margin-top: 2.1rem;
  padding-left: 1.4rem;
}


@media screen and (max-width: 1240px) {
  .grid-wrapper {
    grid-template-areas: 
      "box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
      "box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
      "box1 box1 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
      "box1 box1 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
      "box1 box1 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
      "box1 box1 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
      "box1 box1 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
      "box1 box1 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
      "box1 box1 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
      "box1 box1 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
      "box1 box1 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
      "box1 box1 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6"
      "box1 box1 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6";
    }

  .box3 {
    padding-top: 48px;
  }

  .box4 {
    margin: 0 auto;

  }
  
  .button-container {
    padding-right: 15px;
    display: flex;
    height: 16rem;
    align-items: center;
  }

  .summary-container {
    padding-left: 20px;
    margin-top: 2rem;
    justify-content: space-around;
  }

  .circle {
    justify-content: space-between;
  }

  .bar-graph {
    height: 44%;
  }

  .bar-graph img {
    width: 64.5rem;
    padding: 2.9rem 0 0 0rem;
  }

  .bar-graph-button {
    margin-top: 8rem;
  }

  .spinner-section {
    height: 25rem;
  }

  .spinners {
    display: flex;
    height: 20rem;
    width: 100%;
  }

  .graph-button-container {
    padding-left: 0;
  }

  .line-under-spinners {
    display: none;
  }

  .graph-collapse-button {
    display: none;
  }

  .social-container {
    padding: 3.6rem 4.5rem 0 4.5rem;
    display: flex;
  }

  .social-side {
    background-position: 1.2rem .6rem;
    height: 4rem;
    margin-bottom: 1.9rem;
    padding-top: .3rem;
    width: 30%;
  }

  .social-links:link,
  .social-links:visited {
    padding: .8rem 2.5rem;
    font-size: 1.5rem
  }

  .faceBook {
    background-position: .2rem .2rem;
  }

  .twitter {
    background-position: 1.2rem .6rem;
  }

  .linkedin {
    background-position: 1.6rem 1rem;
  }

  .widgets-container {
    display: flex;
    justify-content: space-between;
  }

  .widgets {
    border-bottom: none;
    width: 28%;
  }

  .widgets p{
    padding-left: .5rem;
    width: 25.7rem;
  }

  .widgets h2 {
    font-weight: bold;
  }

  .link-to-job {
    background-position: 6.3rem 2.2rem;
    border-bottom: none;
    padding-left: 6rem;
    width: 33%;
  }

  .link-to-job-input {
    padding-left: 0;
    /*width: 72%;*/
  }

  .button-widget {
    /*margin-right: 2.9rem;*/
  }

  .link-to-widgets {
    padding-left: 0;
  }

  .upload-resume {
    background-position: 0 2.2rem;
    margin-right: 4.6rem;
  }

  .upload-resume h2 {
    padding-left: 3.3rem;
  }

  .upload-resume-input {
    margin-right: .9rem;
    padding-left: 5px;
  }
}


@media screen and (max-width: 1098px) {
  .grid-wrapper {
    grid-template-areas: 
    "box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
    "box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
    "box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
    "box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
    "box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
    "box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
    "box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
    "box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
    "box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
    "box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
    "box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
    "box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
    "box6 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6"
    "box6 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6";
    }
  
  .box1 {
    display: none;
  }

  .box2 {
    padding-left: 1.5rem;
  }

  .search-input {
    background-position: .5rem .5rem;
    padding-left: 5.5rem;
  }

  .icon-profile {
    background-position: 3.4rem 1rem;
  }

  .icon-calender {
    background-position: 3.6rem 1.7rem;
  }

  .icon-dots {
    background-position: 3.3rem 1.6rem;
  }

  .upper-header {
    height: 6rem;
  }

  .social-container {
    display: inherit;
    width: 98%;
  }

  .social-side {
    background-position: 1.2rem .6rem;
    height: 4rem;
    margin-bottom: 1.9rem;
    padding-top: .3rem;
    width: 100%;
  }

  .hamburger {
    background-color: #FFFFFF;
    background-image: url(images/icon-menu-grey-right.png);
    background-position: 2.5rem .1rem;
    background-size: 5.5rem 5.5rem;
  }

  .hamburger:hover {
    background-image: url(images/icon-menu-right-egg.png);
  }

  .spinner-section {
    height: 250px;
  }

  .summary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
  }

}

@media screen and (max-width: 778px) {
  .icon {
    width: 8rem;
  }

  .search-input {
    background-position: 1.5rem .1rem;
    background-repeat: no-repeat;
    font-size: 1.7rem;
    height: 98%;
    padding-left: 7rem;
    width: calc(100% - 320px);
  }

  .hamburger {
    background-position: 1.5rem -.2rem;
    background-size: 5rem 5rem;
  }

  .icon-profile {
    background-size: 2.5rem 2.5rem;
    background-position: 2.5rem 1.1rem;
  }

  .icon-calender {
    background-size: 2.2rem 2.2rem;
    background-position: 2.5rem 1.2rem;
  }

  .icon-dots {
    background-size: 2.3rem 2.3rem;
    background-position: 2.5rem 1.3rem;
  }

  .upper-lower-header {
    display: inherit; 
    height: 15.3rem;
  }

  .customer-service {
    padding-left: 2.2rem;
    height: .1rem;
  }

  .button-container {
    padding: 0 0 3.4rem 2rem;
    padding: 0 0 0 2rem;
    margin-top: 4.9rem;
    justify-content: normal;
  }

  .summary-container {
    margin-top: 0;
    padding-left: 20px;
  }

  .button-style {
    height: 4rem;
    margin-right: 1.3rem;
    width: 4rem;
  }

  .open-button {
    background-position: .9rem 1rem;
    background-size: 1.5rem 1.5rem;
    width: 90px;
    font-size: 1.5rem;
  }

  .ribbon-button {
    background-size: 2rem 2rem;
    background-position: .8rem .9rem;  
    background-image: url(images/icon-bookmark.png);
  }

  .edit-button {
    background-position: .9rem .8rem;  
    background-size: 2rem 2rem;
    background-image: url(images/icon-pencil.png);
  }

  .delete-button {
    background-size: 1.9rem 1.9rem;
    background-position: .9rem .8rem;
    background-image: url(images/icon-trash.png);
  }

  .spinners {
    padding-right: 10px;
  }

  .bar-graph img {
    width: 500px;
  }

  .job {
    height: 8.4rem;
    display: inherit;
  }

  .job p{
    padding-left: 0;
  }

  .widgets-container {
    display: inherit;
    padding-left: 40px;
  }

  .link-to-job-input  {
    width: 100%
  }

  .link-to-job {
    width: 92%;
  }

  .upper-header {
    height: 5rem;
  }

  .spinners {
    display: inline-flex;
    height: 20rem;
    margin-top: 45px;
    padding-top: 20px;
  }

  .social-side {
    background-position: 1.2rem .6rem;
  }

  .widgets {
    background-position: 7px 2.2rem;
  }

  .widgets p {
    width: 83%;
  }

  .button-widget {
    width: 92%;
    padding-left: 6px;
  }

  .link-to-widgets p {
    width: 63.7rem;
  }

  .link-to-job {
    background-position: 0.3rem 2.2rem;
    padding-left: 0;
  }

  .link-to-job-input p {
    width: 63.7rem;
  }

  .upload-resume {
    width: 93%;
  }
}


@media screen and (max-width: 550px) {
  .grid-wrapper {
    grid-template-areas: 
    "box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
    "box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
    "box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
    "box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
    "box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
    "box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
    "box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
    "box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
    "box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4"
    "box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
    "box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
    "box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
    "box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5"
    "box6 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6"
    "box6 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6";
    }

  .box4 {
    height: 48%;
  }

  .hamburger {
    background-position: .4rem -.2rem;
  }

  .icon-profile {
    background-position: 1.5rem 1.1rem;
  }

  .icon-calender {
    background-position: 1.7rem 1.3rem;
  }

  .icon-dots {
    background-position: 1.8rem 1.3rem;
  }

  .summary-container {
    display: inherit;
  }

  .upper-lower-header {
    /*display: inherit;*/
    height: 162px;
  }

  .bar-graph img {
    width: 318px;
  }


  .social-links:link,
  .social-links:visited {
    padding: .8rem 2.5rem;
    font-size: 1.25rem
  }

  .social-container {
    padding: 3.6rem 1.2rem 0 1.9rem;
  }

  .link-to-job {
    background-position: 0.4rem 2.2rem;
  }

  .button-widget {
    padding-left: 0;
    width: 93%;
  }

  .widgets-container {
    padding-left: 21px;
  }

  .upload-resume-input {
    width: 99%;
  }
}


